<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form action="" method="post">
        <input class="form-control w-50 my-2" type="text" name="name" value="<%= product.name %>" placeholder="Enter name of ur product">
        <input class="form-control w-50 my-2" type="text" name="title" value="<%= product.title %>" placeholder="Enter title of ur product">
        <input class="form-control w-50 my-2" type="text" value="<%= product.description %>"  name="description"
            placeholder="Enter description of ur product">
        <input class="form-control w-50 my-2" type="text" value="<%= product.price %>" name="price" placeholder="Enter Price">
        <input type="submit" class="btn btn-info">
    </form>

    </div>
</body>

</html>